@mixin background-image($nivel) {
  @if $nivel==1 {
    background-color: $light;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      $light 10%
    );
  } @else if $nivel==2 {
    background-color: $light;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      $light 10%
    );
  } @else if $nivel==3 {
    background-color: $light;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      $light 20%
    );
  }
}

@mixin animacion($type) {
  @if $type==1 {
    animation: animacion1
  } @else if $type==2 {
   animation: animacion2
  }
   @else if $type==3 {
     animation: animacion3}
}
