/* Formulario */
#formulario2 {
  @include background-image(1);
  display: flex;
  align-items: center;
  height: 95vh;
  justify-content: center;
  img {
    margin: 30px 30px;
    height: 430px;
    width: 330px;
  }
  form {
    @include animacion(2);
    animation-duration: 2.5s;
    background-color: $light;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 3 1.5em;
    margin: 40px 60px;
    height: auto;
    div {
      width: 100%;
      display: grid;
      gap: 1em;
      grid-auto-columns: 100%;
    }
    h2 {
      text-align: center;
      font-size: 1.9rem;
      margin-bottom: 1em;
    }
    input {
      font-size: 1rem;
      padding: 0.5em;
      outline: none;
      border: none;
      border: 1px solid rgb(41, 41, 41);
      border-radius: 0.2em;
      &[type="submit"] {
        background-color: map-get($map: $theme-colors, $key:"dark" );
        font-size: 0.8rem;
        color: $light;
        border: none;
        font-weight: 300;
        padding: 0.5em 0;
        border-radius: 0.2em;
        cursor: pointer;
      }
    }
    textarea {
      resize: none;
      padding: 1.9em 1em;
      margin-bottom: 0.5em;
      height: 200px;
    }
  }
}
 @media (max-width: 610px) {
  #formulario2 {
    img{
      display: none;
    }
  }
}