* {
  box-sizing: border-box !important;
  margin-bottom: 0 !important;
}

@font-face {
  font-family: rubik;
  src: url(../fuentes/rubik-Regular.ttf);
}
@font-face {
  font-family: kanit;
  src: url(../fuentes/kanit-light.ttf);
}
a {
  text-decoration: none;
}
body {
  font-family: kanit;
  margin: 0;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}

ul {
  list-style: none;
}

/* tiutlo */
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  color: rgba(255, 0, 0, 0.699);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../img/canchajordan.jpg);
  background-size: cover;
  font-family: rubik !important;

  h1{
    @include animacion(2);
    animation-duration: 1.2s;
    margin-bottom: 100px;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.699);
    font-family: rubik;
  }
}

/* productos */
#producto {
 @include background-image(2);
  text-align: center;
  height: 85vh;

  div {
    max-width: 1366px;
    margin: auto;

    h2 {
      margin-top: 0;
      color: #000;
      padding: 30px;
    }
    p {
      display: none;
      color: $light;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      h3 {
        color: $light;
        font-weight: bold;
      }
      div {
        display: block;
        background-position: center;
        background-size: cover;
        padding: 57.5px;
        margin: 40px 50px;
        border-radius: 15px;
        width: 350px;
        height: 230px;
      }
      div:hover {
        transform: scale(1.2);
        transition: 0.5s;
      }

      /* boton */
      button {
        font-size: 1.5em;
        font-weight: bold;
        padding: 5px 25px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: $light;
        background-color: map-get($map: $theme-colors, $key:"dark" );
        cursor: pointer;
      }
      button:hover {
        color: #171718;
      }
      div:first-child {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
          ),
          url(../img/550.jpg);
      }
      div:nth-child(2) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
          ),
          url(../img/jordan1.jpg);
      }
      div:nth-child(3) {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
          ),
          url(../img/jordan4.jpg);
      }
    }
  }
}

/* video y parrafo */
#vyp {
  height: 95vh;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom, $light, rgba(0, 0, 0, 0.85) 2%),
    url(../img/dunk.png);
  background-repeat: repeat;

  h2 {
    text-align: center;
    margin-top: 0px;
    padding: 30px;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 25px;
    p {
      font-size: 1.45em;
      text-align: justify;
      margin: 0px 90px;
    }

    div {
      margin: 20px;
      margin-right: 90px;
      height: 100%;
    }
  }
}

/* Formulario */
#formulario {
  @include background-image(2);
  display: flex;
  align-items: center;
  height: 95vh;
  justify-content: center;
  img {
    margin: 30px 30px;
    height: 430px;
    width: 330px;
  }
  form {
    background-color: $light;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 3 1.5em;
    margin: 40px 60px;
    height: auto;
    div {
      width: 100%;
      display: grid;
      gap: 1em;
      grid-auto-columns: 100%;
    }
    h2 {
      text-align: center;
      font-size: 1.9rem;
      margin-bottom: 1em;
    }
    input {
      font-size: 1rem;
      padding: 0.5em;
      outline: none;
      border: none;
      border: 1px solid rgb(41, 41, 41);
      border-radius: 0.2em;
      &[type="submit"] {
        background-color: map-get($map: $theme-colors, $key:"dark" );
        font-size: 0.8rem;
        color: $light;
        border: none;
        font-weight: 300;
        padding: 0.5em 0;
        border-radius: 0.2em;
        cursor: pointer;
      }
    }
    textarea {
      resize: none;
      padding: 1.9em 1em;
      margin-bottom: 0.5em;
      height: 200px;
    }
  }
}

/* MEDIA */
@media (max-width: 1300px) {
  /* video y parrafo */
  #vyp {
    height: 100vh;
    h2 {
      font-size: 3.8em;
      text-align: center;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 25px;
      p {
        font-size: 1.3em;
        text-align: justify;
        margin-bottom: 20px 90px;
      }
      div {
        margin: 0px 350px;
        height: auto;
        width: 430px;
        video {
          height: 290px;
          width: 500px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  /* hero */
  #hero {
    height: 75vh;
    h1 {
      font-size: 8em;
    }
  }
  /* Productos */
  #producto {
    background-color: $light;
    text-align: center;
    height: 80vh;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      $light 10%
    );
    div {
      h2 {
        margin-top: 0;
        font-size: 3.8em;
        color: #000;
        padding: 30px;
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div {
          padding: 42.5px;
          margin: 60px 30px;
          border-radius: 15px;
          width: 350px;
          height: 170px;
          h3 {
            color: $light;
            font-weight: bold;
            font-size: 1.4em;
          }
        }
      }
    }
  }
  /* Video y parrafo */
  #vyp {
    height: 100vh;
    h2 {
      font-size: 3.8em;
      text-align: center;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 25px;
      p {
        font-size: 1.3em;
        text-align: justify;
        margin-bottom: 20px 90px;
      }
      div {
        margin: 0px 250px;
        height: auto;
        width: 430px;
        video {
          height: 250px;
          width: 420px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  /* video y parrafo */
  #vyp {
    height: 80vh;
    h2 {
      font-size: 3em;
      text-align: center;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 30px;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 25px;
      p {
        font-size: 1.3em;
        text-align: justify;
        margin-bottom: 20px 90px;
      }
      video {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  /* hero */
  #hero {
    height: 80vh;
    h1 {
      font-size: 6em;
    }
  }
  /* Productos */
  #producto {
    height: 100vh;
    h2 {
      font-size: 3em;
      padding: 5px 5px;
    }
    div{
    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      div {
        padding: 42px;
        margin: 30px 80px;
        border-radius: 15px;
        width: 350px;
        height: 120px;
        justify-content: center;
      h3 {
        color: $light;
        font-weight: bold;
        font-size: 1.1em;
      }
    }
    }
  }
}
  /* boton */
  button {
    font-size: 0.9em;
    padding: 5px 20px;
    border-radius: 5px;
  }
}

@media (max-width: 650px) {
  #vyp {
    height: 90vh;
    h2 {
      font-size: 3em;
      text-align: center;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    p {
      font-size: 1.25em;
      text-align: justify;
      margin-bottom: 20px 20px;
    }
  }
  /* Formulario */
  #formulario {
    img {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  /* hero */
  #hero {
    h1 {
      font-size: 5.5em;
    }
  }
  /* productos */
  #producto {
    div{
    h2 {
      font-size: 3em;
      padding: 20px 5px;
    }
  }
  }
  /* video y parrafo */
  #vyp {
    height: 70vh;
    h2 {
      font-size: 2em;
      text-align: center;
      margin-top: 0px;
      padding-top: 20px;
      padding-bottom: 10px;
    }
    div{
    p {
      font-size: 1.05em;
      text-align: justify;
      margin: 20px 50px;
      margin-top: 20px;
    }
  }
  }
}

@media (max-width: 470px) {
  /* video y parrafo */
  #vyp {
    height: 85vh;
  }
}

@media (max-width: 389px) {
  /* video y parrafo */
  #vyp {
    height: 100vh;
  }
}

@keyframes animacion1 {
  0% {
    transform: translate(-250px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes animacion2 {
0% {
transform: translate(250px);
}
100% {
transform: translate(0px);
}
}
@keyframes animacion3 {
  0% {
      transform: translate(550px);
    }
    10%{transform: rotateZ(-5deg);
    }
    35%{
      transform:rotateZ(0deg)
    }
    100% {
        transform: translate(0px);
    }
}